body{
    background-color: beige;
    margin: 0%;
}


header{
    background-color: aliceblue;
    padding: 20px;
    text-align: center;

}

.contenedor {
    background-color: rgb(231, 163, 99);
    margin: auto;
    padding: 20px;
    max-width: 900px;
    text-align: center;
    border-radius: 10px;
}
.newseasson{
    padding: 50px;
    font-size: 40px;
    text-align: left;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;

}

.persona{
    width: 350px;
    margin-left: 400px;
    margin-top: -350px;
    border-radius: 20px;
}

.articulos{
    padding: 20px;
    margin: auto;
    justify-content: center;
    gap: 40px;
    display: flex;
}
.imgart{
    width: 300px;
    border-radius: 20px;
    
}
.item{
    text-align: center;
}